
body{
    margin: auto;
    padding: 20px;
    height: auto;
    width: 100%;
}

.page-title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.confirm-btn{
    border-radius: 25px;
    border-style: none;
    background-color: rgb(33, 42, 77);
    color: white;
    padding: 10px;
}
